.App {
  text-align: center;
}

.container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--padding);
  color: var(--gray);
  min-height: 100vh;
}

.poll-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.poll-list li {
  margin: var(--margin);
  max-width: 34.5rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .poll-list li {
    margin: var(--margin) auto;
    /* width: calc(50% - var(--margin)); */
  }
}
.poll-container {
  box-shadow: 0px 4px 4px var(--shadow);
  padding: var(--padding);
  border-radius: var(--padding);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.poll-container h3 {
  flex-basis: 100%;
  margin-top: 0;
  margin-bottom: var(--margin);
}

.user-image {
  flex-basis: calc(25% - var(--padding));
  padding-right: var(--padding);
  text-align: center;
}
.poll-info {
  flex-basis: calc(75% - var(--padding));
  padding-left: var(--padding);
  border-left: 1px solid var(--light-grey);
}
.poll-info h4 {
  margin: 0;
  font-size: var(--h3-size);
}
.selected {
  background: var(--violet);
  color: white;
  padding: 1rem;
  border-radius: var(--border-radius);
  margin: var(--margin) 0;
}
.selected p {
  margin: 0;
}
.percentage {
  background: var(--violet);
  height: 2rem;
  width: 100%;
  margin: var(--margin) 0;
  border-radius: var(--border-radius);
  position: relative;
}
.selected .percentage {
  background: white;
}
.votes {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.50);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
.selected .votes {
  background: rgba(94, 69, 245, 0.50);
}
.btn {
  width: auto;
  flex-basis: auto;
  border: 0;
  padding: 0.5rem var(--padding);
  font-size: var(--text-size);
  background-color: var(--violet);
  color: #ffffff;
  border-radius: var(--border-radius);
  transition: background-color 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--darkViolet);
}

.input_group {
  margin: 0.5rem 0;
}
.input_group:last-of-type {
  margin-bottom: 1rem;
}
.input_text {
  width: 100%;
  border-radius: var(--border-radius);
  padding: 0.5rem;
  border: 1px solid var(--violet);
  font-size: var(--text-size);
  text-align: center;
  outline: 0;
}
.input_text:focus {
  border-width: 2px;
}
.login {
  width: 70%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}
.login form {
  width: 100%;
}

.login .btn {
  width: 100%;
}