h1 {
  font-size: var(--h1-size);
}
ul {
  list-style: none;
  padding: 0;
  margin:0.5rem 0;
}
a {
  text-decoration: none;
  color: var(--gray);
}
a:hover {
  color: var(--darkViolet);
}
.active {
  font-weight: bold;
  color: var(--violet);
}
img {
  max-width: 100%;
}
.btn {
  background: var(--violet);
  padding: 0.7rem 3rem;
  border-radius: var(--border-radius);
  color: white;
  transition: 0.4s ease;
  font-size: var(--text-size);
  border: 0;
  margin: 1rem 0;
  cursor: pointer;
}
.btn.submit {
  width: 100%;
}
.btn:hover {
  background: var(--darkViolet);
  color: white;
}
.container {
  padding: 1rem 2rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--shadow)
}
header .nav {
  width: 100%;
}
@media screen and (min-width: 768px) {
  header .nav {
    width: 50%;
  }
  header .nav:first-child ul {
    justify-content: flex-start;
  }
  header .nav:last-child ul {
    justify-content: flex-end;
  }
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav li:not(:first-of-type) {
  margin-left: 1rem;
}
.user {
  display: flex;
  align-items: center;;
}
.user .user-image {
  max-width: 50px;
  padding-right: 10px;
}
.login {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login h2 {
  font-weight: 400;
}
form {
  width: 100%;
  padding: 0 var(--margin);
}
.input_group {
  margin: 0.5rem 0;
}
.input_text {
  width: 100%;
  padding: 0.7rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--darkViolet);
  font-size: var(--text-size);
}
.input_radio {
  position: absolute;
  left: -999999999px;
}

label:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid var(--violet);
  border-radius: 5px;
}

.input_radio:checked + label:before {
  background: var(--violet);
}

legend {
  font-size: var(--h2-size);
}
/* Poll container */

.poll-container {
  box-shadow: 0px 4px 4px var(--shadow);
  border-radius: var(--border-radius);
  padding: var(--padding);
  margin: var(--margin) 0;
  text-align: center;
}

.option-container.selected {
  background: var(--violet);
  color: #ffffff;
  padding: var(--padding);
  border-radius: var(--border-radius);
  margin-bottom: var(--margin);
}
.option-container.selected p:first-of-type {
  margin-top: 0;
}
.option-container.selected p:last-of-type {
  margin-bottom: 0;
}
.poll-options-title {
  font-weight: 600;
}
.percentage {
  background: #ffffff;
  border: 1px solid var(--violet);
  height: 2rem;
  border-radius: var(--border-radius);
}
.selected .votes {
  background: var(--violet);
  opacity: 0.6;
  height: 100%;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .poll-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    max-width: 39rem;
    margin-left: auto;
    margin-right: auto;
  }
  .user-name {
    width: 100%;
  }
  .user-image:not(.user .user-image) {
    padding-right: 2rem;
    border-right: 1px solid var(--shadow);
  }
  .poll-info {
    padding-left: 2rem;
    width: 80%;
  }
}

/* new question */

.new-question-form {
  max-width: 39rem;
  margin: 2rem auto var(--margin);
  text-align: center;
}

.new-question-form .input_group:not(:last-of-type) {
  margin: 1rem 0;
}
.new-question-form .input_text {
  text-align: center;
}


/* leader board */

.leader-container {
  box-shadow: 0px 4px 4px var(--shadow);
  padding: var(--padding);
  margin: var(--margin) 0;
  border-radius: var(--border-radius);
  text-align: center;
  position: relative;
}

.position {
  background: var(--violet);
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  line-height: 4rem;
  color: #ffffff;
  font-size: var(--h1-size);
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.score {
  background: var(--violet);
  border-radius: var(--border-radius);
  color: #ffffff;
  padding: var(--padding);
}

.score h3 {
  margin: 0;
}

.score span {
  font-size: 3rem;
}

@media screen and (min-width: 768px) {
  .leader-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .leader-container h3 {
    width: 100%;
    margin-top: 0;
  }
  .leader-container .content {
    width: 70%;
    text-align: left;
    margin-left: 4.5rem;
    display: flex;
    flex-wrap: wrap;
  }
  .leader-container .user-image {
    width: 20%;
  }
  .leader-container .leader-info {
    width: 65%;
  }
  .score {
    width: 20%;
  }
}